keys.json
**/__pycache__/
.DS_Store
cache_results_old*/
ai_researcher.egg-info/
openreview_scraper*/
iclr-dataset*/
openreview_benchmark*/
openreview*/
ORB_*/
**/ideas_1k*/
**/ideas_1k_dedup*/
**/experiment_plans_1k*/
**/experiment_plans_claude3-5*/
**/logs*/
**/ideas_5k*/