keys.json
**/__pycache__/
.DS_Store
ai_researcher.egg-info/
openreview_scraper*/
iclr-dataset*/
openreview_benchmark*/
openreview*/
ORB_*/
**/experiment_plans*/
**/logs*/
**/ideas*/
**/lit_review*/
Human_Ideas_Txt*/
AI_AI_Ideas*/
AI_Human_Ideas*/
cache*/
*.zip
results*/